/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

/*fonts*/
body {
  background-color: #eee;
  font-family: "Dosis", sans-serif; }

.main-grid {
  display: grid;
  grid-template-areas: "main-header main-header main-header main-portfolio main-portfolio" "main-header main-header main-header main-portfolio main-portfolio" "main-header main-header main-header main-portfolio main-portfolio" "main-footer main-footer main-footer main-footer main-footer";
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 50px;
  height: 100vh;
  grid-gap: 1px; }

.flex {
  display: flex; }

.algin-center {
  align-items: center;
  justify-content: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.social-net li {
  padding: 0 5px; }

.icon svg {
  width: 30px;
  height: 30px;
  fill: #333;
  transition: fill 0.2s linear; }
.icon:hover svg {
  fill: #12aaff; }

header {
  grid-area: main-header;
  width: 100%;
  padding: 0 55px;
  display: flex;
  align-items: center;
  background-color: #fff; }

.main-portfolio {
  grid-area: main-portfolio;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23eeeeee' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }
  .main-portfolio .box-shots {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0%;
    transition: left 0.2s ease-in; }
    .main-portfolio .box-shots .shots {
      flex: 0 0 100%;
      display: flex;
      flex-wrap: wrap; }
      .main-portfolio .box-shots .shots .shots-header {
        width: 100%;
        height: 60%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 0 35px; }
        .main-portfolio .box-shots .shots .shots-header figure {
          max-width: 604px;
          max-height: 504px;
          width: 100%; }
        .main-portfolio .box-shots .shots .shots-header img {
          position: relative;
          z-index: 1;
          border: 2px solid #fff;
          width: 100%; }
      .main-portfolio .box-shots .shots .shots-footer {
        width: 100%;
        height: 40%;
        background-color: #fff;
        padding: 25px;
        border-top: 1px solid #eee; }
        .main-portfolio .box-shots .shots .shots-footer h4 {
          font-size: 30px;
          margin-bottom: 15px;
          font-weight: bold;
          color: #444; }
        .main-portfolio .box-shots .shots .shots-footer p {
          font-size: 30px;
          margin-bottom: 15px;
          color: #333; }

footer {
  grid-area: main-footer;
  background-color: #fff;
  padding: 10px 0;
  width: 100%; }

h1 {
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 25px; }
  h1 span {
    font-weight: bold; }

.me-story p {
  font-size: 30px;
  color: #555; }

/*carrusel*/
.controls {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 100; }
  .controls .contol {
    width: 49%;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .controls .contol svg {
      width: 50px;
      height: 50px;
      fill: #ddd;
      transition: fill 0.2s linear; }
    .controls .contol:hover svg {
      fill: #12aaff; }

.tags {
  display: flex;
  margin-top: 25px; }
  .tags span {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-size: 20px;
    color: #777; }

/*# sourceMappingURL=style.css.map */
