/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

/*
Autor: Irakli Tavberidze
Version: 3.0
Description: Personal web page.
*/
body {
  background-color: #eee; }

.main-aside {
  max-width: 340px;
  width: 100%;
  background-color: #ddd;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.container {
  width: calc(100% - 340px);
  position: relative;
  left: 340px;
  height: 100%; }

.aboutme {
  padding: 30px; }
  .aboutme p {
    color: #333;
    font-size: 30px; }
  .aboutme h3 {
    text-align: left;
    color: #333;
    font-size: 45px;
    margin-bottom: 25px; }
  .aboutme .important {
    text-align: left;
    color: tomato;
    margin-top: 35px;
    font-size: 40px; }

.social-net {
  text-align: center;
  padding: 10px; }
  .social-net li {
    display: inline-block; }
    .social-net li:not(:last-child) {
      margin-right: 20px; }
    .social-net li a {
      color: #2d3040;
      font-size: 30px; }

.headline-goup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .headline-goup .headline {
    font-size: 50px;
    color: #2d3040;
    font-family: "Bungee Outline", cursive; }
    .headline-goup .headline b {
      position: relative;
      z-index: 2; }
  .headline-goup .surname {
    width: 100%;
    position: absolute;
    color: #2d3040;
    left: 0px;
    top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
    .headline-goup .surname span {
      font-size: 100px;
      color: rgba(0, 0, 0, 0.2);
      font-family: "Bungee Outline", cursive; }

.rounded {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 5px solid #fff;
  margin: auto;
  margin-bottom: 25px; }

@media (max-width: 979px) {
  .headline-goup {
    padding: 40px 0px; }
  .container {
    padding: 60px; }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
  .aboutme {
    padding: 0px; }
  h2.headline.magenta {
    color: #F92561;
    white-space: initial; } }

@media (max-width: 767px) {
  .main-aside {
    position: initial !important;
    height: auto;
    width: 100%;
    max-width: 100%; }
  .headline-goup {
    top: 0px;
    width: 100%;
    padding: 10px 0px; }
  .headline-goup .headline {
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .headline-goup .surname {
    all: initial; }
  .container {
    position: relative;
    left: 0px;
    height: 100%;
    width: 100%;
    margin-top: 50px; }
  .aboutme {
    position: relative;
    top: -60px; }
  .headline-goup .headline {
    font-size: 60px; }
  .content-box .max-width {
    font-size: 15px; }
  .content-box {
    padding: 95px 19px; }
  .container {
    padding: 30px; }
  .content-box {
    padding: 45px 19px; }
  .prymary-content {
    margin-top: -90px; } }
