@import "reset";
@import "colors";

body {
  background-color: $grey-5;
  font-family: $font;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "main-header main-header main-header main-portfolio main-portfolio"
    "main-header main-header main-header main-portfolio main-portfolio"
    "main-header main-header main-header main-portfolio main-portfolio"
    "main-footer main-footer main-footer main-footer main-footer";
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 50px;
  height: 100vh;
  grid-gap: 10px;
}
.flex {
  display: flex;
}
.algin-center {
  align-items: center;
  justify-content: center;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.social-net {
  li {
    padding: 0 5px;
  }
}

.icon {
  svg {
    width: 30px;
    height: 30px;
    fill: $dark-1;
    transition: fill 0.2s linear;
  }
  &:hover {
    svg {
      fill: $main-color-lighter;
    }
  }
}

header {
  grid-area: main-header;
  width: 100%;
  padding: 0 55px;
  display: flex;
  align-items: center;
  background-color: $white;
}

.main-portfolio {
  grid-area: main-portfolio;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  background-color: $dark-1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23666666' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  .box-shots {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0%;
    transition: left 0.2s ease-in;

    .shots {
      flex: 0 0 100%;
      display: flex;
      flex-wrap: wrap;

      .shots-header {
        width: 100%;
        height: 60%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 0 35px;
        figure {
          max-width: 604px;
          max-height: 504px;
          width: 100%;
        }
        img {
          position: relative;
          z-index: 1;
          border: 2px solid $white;
          width: 100%;
        }
      }
      .shots-footer {
        width: 100%;
        height: 40%;
        background-color: $dark-1;
        padding: 25px;
        border-top: 1px solid $dark-4;
        h4 {
          font-size: 30px;
          margin-bottom: 15px;
          font-weight: bold;
          color: $grey-5;
        }
        p {
          font-size: 30px;
          margin-bottom: 15px;
          color: $grey-5;
        }
      }
    }
  }
}

footer {
  grid-area: main-footer;
  background-color: $white;
  padding: 10px 0;
  width: 100%;
}

h1 {
  font-size: 50px;
  color: $dark-1;
  text-transform: uppercase;
  margin-bottom: 25px;

  span {
    font-weight: bold;
  }
}
.me-story {
  p {
    font-size: 30px;
    color: $dark-3;
  }
}

/*carrusel*/
.controls {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  .contol {
    width: 49%;
    height: 90px;
    background-color: $dark-1;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50px;
      height: 50px;
      fill: $white;
      transition: fill 0.2s linear;
    }
    &:hover {
      svg {
        fill: $main-color-lighter;
      }
    }
  }
}

.tags {
  display: flex;
  margin-top: 25px;
  span {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: $dark-2;
    border-radius: 10px;
    font-size: 20px;
    color: $grey-5;
  }
}
@media (max-width: 979px) {
}

@media (max-width: 767px) {
}
